<!DOCTYPE html>
<html>
  <head>
    <title>PotepanShareApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a><%= link_to"Potepan Share", "/", class: "header" %></a>
          <ul>
            <li><%= link_to"ログイン", "/users/sign_in", class: "header" %></li>
            <li><%= link_to"新規登録", "/users/sign_up", class: "header" %></li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div>
        <a>Potepan Share</a>
        <p>Copyright © Potepan Share 2023 All rights reserved</p>
      </div>
    </footer> 
  </body>
</html>
